body {
    font-family: Arial, sans-serif;
    background-color: #84c3fa;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

img {
    width: 150%; 
    max-width: 500px; 
    height: auto;
    margin-left: auto; 
}


form {
    width: 40%;
    height: 40%;
}

h1 {
    text-align: center;
}

#contact-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    width: 40%; 
    margin-right: auto; 
    background-color: #fff;
}
#contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
}



#contactForm input,
#contactForm textarea,
#contactForm select {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: block; 
}

#contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#form-messages {
    margin-top: 20px;
    text-align: center;
}